
body {
    font-family: sans-serif;
    color: rgb(0, 16, 11);
    background-color: rgb(245, 245, 245);
    margin: 0;

}

.header {
    display: flex;
    background-color: rgb(0, 16, 11);
    color: rgb(245, 245, 245);
    height: 150px;
    width: auto;
    align-items: center;
}

.name {
    display: inline;
    padding-left: 100px;
}

.header-stuff {
    margin-left: auto;
    margin-right: 100px;
}

.header-list li{
    display: inline-block;
    color: rgb(0, 16, 11);
    margin-right: 50px;
    background-color: rgb(247, 232, 164);
    border:10px solid rgb(247, 232, 164);
    border-radius: 10px;
}